/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  background-color: #341d23;
}
.barra {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}
.bottles-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  border-radius: 50px;
  width: 200px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.bottles-div img {
  border-radius: 50px;
  width: 200px;
  height: 250px;
}
.bottles-father {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  width: 100%;
}
.bottle-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: inherit;
}
.bottle-title {
  text-align: center;
}
.bottle-details table tr td {
  padding: 5px;
}
.td1 {
  width: 15vmin;
}

.companies-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
  justify-content: space-around;
}

.card-container {
  margin: 20px 30px;
}

.title {
  text-align: center;
  margin: 20px 0 45px 0;
  font-weight: 700;
  font-size: 60px;
  text-decoration: underline;
  color: #333;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
}

/*FOOTER*/

footer {
  height: 50px;
  width: 100vw;
  background-color: rgb(147, 147, 147);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 0;
}

footer a {
  text-decoration: none;
}
footer a:visited {
  color: rgb(96, 96, 96);
}
footer a:hover {
  color: #ffffff;
}
footer img {
  height: 30px;
}

/*COMPANY DETAILS*/

.company-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: row;
}

.company-title {
  text-align: center;
  padding-bottom: 10px;
}
.company-details table tr td {
  padding: 5px;
}

/*CAROUSEL*/

.carousel-container {
  position: relative;
  border: solid black 2px;
  height: 20%;
}

.title-2 {
  text-align: center;
  margin: 20px 0 45px 0;
  font-weight: 700;
  font-size: 30px;
  text-decoration: underline;
  color: #333;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
}

.custom-title-carousel {
  color: black;
}

.custom-img-carousel {
  height: 100px;
}

.carousel {
  background-color: black;
}
.imageAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deleteBtn {
  /* background-color: lightcoral; */

  border-radius: 5px;
}
#editBtn {
  /* background-color: lightgreen; */

  border-radius: 5px;
}
#mostrarformulario {
  background-color: lightcyan;
  border-radius: 5px;
}
.deleteEdit {
  display: flex;
}

.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.button-64 {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  justify-content: center;

  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 40px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(59, 30, 2);
  border-radius: 6px;
  width: 95%;
  height: 100%;
  transition: 300ms;
  margin: 0;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
  }
}

.darkMode {
  background-color: rgb(29, 29, 29);
  min-height: 100vh;
  color: white;
}

.lightMode {
  background-color: white;
  min-height: 100vh;
}
#deleteReview {
  border: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
#reviewComment {
  margin-bottom: 0;
}
